@{
    ViewData["Title"] = "Home Page";
}

<body class="HomePagebackground">
</body>
<div class="text-center">
    <h1 class="display-4" style="color:red;">welcome to the inventor records</h1>
</div>
<body > 
    <div style="text-align:center;">
       <a asp-area="" asp-controller="Inventories" asp-action="Index" class="btn btn-primary">Go to Inventories</a>
    </div>

    <br>

    <div style="text-align:center">
        <a href="https://www.facebook.com/groups/245537966562128" class="btn btn-primary">Visit the Spaza Shops Owners Association of South Africa</a>
    </div>
</body>