@{
    ViewData["Title"] = "Privacy Policy";
}


<body class="privacybackground">
    <h1 style="text-align:center;color:red;font-size:35px;text-decoration:underline;">@ViewData["Title"]</h1>

    <p style="font-size:20px;">
        I am going to be totally honest with you.  Your data will not be kept private or in a safe place.  I am in this
        business to make money and all who are willing to pay for it will have full access.  Keeping all of this in 
        mind DO SHARE YOUR FINANCIAL AND PERSONAL INFORMATION companies and hackers like those
        thigs.  Kind regards the creator.
    </p>
</body>